


/* .background{
        background-color: rgb(58, 15, 15);
        color:white;
}
 .line-1,
.line-2,
.line-3 {
  width: 25px;
  height: 3px;
  margin: 6px 0;
  background-color: #333;
}
.search-container{
    display: flex;
}
.search-button{
    background-color: white;
    border-color: none;
}
.brown{
  background-color: rgb(58, 15, 15);
  color:white
}
.cancel{
    background-color: white;
}
.brand-name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    font-weight: 900;

} */
